.login__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: blue;
    height: 100%;
}


.formlog {    
    background: white;
    margin-top: 8.0rem;    
    width: 480px;   
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 5px;
    margin-bottom: 8.0rem; }

.form__group {
    
    padding-left: 0.6rem; }
  
  .form:not(:last-child) {
    margin-bottom: 2rem; }

    .form__input {
        font-family: inherit;
        color: inherit;
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
        margin-right: 1.0rem;
        width: 90%;
        padding: 0.2rem 0.2rem;
        background-color: #ffff;
        border-radius: 3px;    
        border: 1px solid rgb(209, 209, 209);
        /* border-bottom: 3px solid transparent; */
        display: inline; }
        .form__input:focus {
          outline: none;
          box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.3);
          border-bottom: 3px solid green; }
        .form__input:focus:invalid {
          border-bottom: 3px solid #eb1313; }
        .form__input::-ms-input-placeholder, .form__input::-webkit-input-placeholder {
          color: #777; }
      
   
      
      .form__input:placeholder-shown + .form__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4px); }
      
  
    .form__email {
       
    font-family: inherit;
    color: inherit;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    width: 90%;
    padding: 0.2rem 0.2rem;
    background-color: #ffff;
    border-radius: 3px;    
    border: 1px solid rgb(209, 209, 209);
    /* border-bottom: 3px solid transparent; */
    display: inline;
    }

    .form__email:focus {
        outline: none;
        box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.3);
        border-bottom: 3px solid green; }
      .form__email:focus:invalid {
        border-bottom: 3px solid #eb1313; }
      .form__email::-ms-input-placeholder, .form__input::-webkit-input-placeholder {
        color: #777; }
  

    .form__submit1 {
        border: none;
        border-radius: 5px;
        width: 20%;
        background-color: #EA384D;
        color: azure;
        height: 1.5rem;
        margin-top: 1rem;
        margin-left: 3.0rem;
    }

  
.form__label {
    font-size: 0.7rem;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
}